.form__input-error {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  line-height: 15px;
  display: block;
  min-height: 30px;
  color: #FF0000;
  opacity: 0;
}
