.card__image {
  margin: 0;
  padding: 0;
  width: 100%;
  object-fit: cover;
  object-position: center;
  min-height: 282px;
  max-height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__image:hover {
  cursor: pointer;
}
